.user-png{
    width: 30px;
    height: 30px;
    
}
.navbar-brand{
    color: rgb(255,0,0,0.836);
}

.btn-navbar{
    background-color: rgb(255,0,0,0.836);
    border-radius: 7px;
    color: wheat !important;
    font-weight: bold;

}